ujson
numpy==1.26.2
shapely
tqdm
opencv-python-headless
torch>=2.1
Pillow
scipy
scikit-image
openslide-python>=1.4,<2
openslide-bin
torchmetrics
tables
albumentations==1.2.1
tensorboard
tensorboardx
matplotlib
safetensors
